
{% case section.settings.header_type %}
  {% when 'header1' %}
    {{ 'Header1.css' | asset_url | stylesheet_tag }}
    <header class="header header1"> 
      <div class="container">
        <div class="row mx-auto">
          <i class="fas fa-bars" id="menu-icon"></i>
        <div class="col-4 col-md-4 d-flex align-items-center justify-content-start">
          <ul class="header1__collections-nav">
            {%- if section.settings.menu != blank -%}
              {%- for link in section.settings.menu.links -%}
                {%- if link.links == blank -%}
              <li class="header1__collection-link">
                <a href="{{ link.url }}">{{ link.title | escape }}</a>
              </li>
                {%- else -%}

                  <li class="header1__collection-link">
                    <a href="{{ link.url }}">{{ link.title | escape }} <i class="fas fa-chevron-down"></i></a>
                    <ul class="collection-link__sub-links">
                      {%- for childlink in link.links -%}
                        <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                      {%- endfor -%}
                    </ul>
                  </li>
                {%- endif -%}
              {%- endfor -%}
            {% endif %}
          </ul>
        </div>
        
        <div class="col-4 col-md-4 d-flex align-items-center justify-content-start">
          <div class="header1__logo">
            <a href="{{ routes.root_url }}">
              {%- if section.settings.logo != blank -%}
                {%- assign image_size = section.settings.logo_width | append: 'x' -%}
                <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                  src="{{ section.settings.logo | img_url: image_size }}"
                  loading="lazy"
                  class="header__heading-logo"
                  width="{{ section.settings.logo.width }}"
                  height="{{ section.settings.logo.height }}"
                  alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
                >
              {%- else -%}
                {{ shop.name }}
              {%- endif -%}
            </a>
          </div>
        </div>

        <div class="col-4 col-md-4 d-flex align-items-center justify-content-start">
          <a href="{{ routes.cart_url }}"><i class="fas fa-shopping-cart" id="cart-icon-mobile"></i></a>
          <ul class="header1__collections-nav">
            {%- if section.settings.menu_two != blank -%}
              {%- for link in section.settings.menu_two.links -%}
                {%- if link.links == blank -%}
              <li class="header1__collection-link">
                <a href="{{ link.url }}">{{ link.title | escape }}</a>
              </li>
                {%- else -%}
                  {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}

                  <li class="header1__collection-link">
                    <a href="{{ link.url }}">{{ link.title | escape }} <i class="fas fa-chevron-down"></i></a>
                    <ul class="collection-link__sub-links">
                      {%- for childlink in link.links -%}
                        <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                      {%- endfor -%}
                    </ul>
                  </li>
                {%- endif -%}
              {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}
              {%- endfor -%}
            {% endif %}
            <a href="{{ routes.cart_url }}"><i class="fas fa-shopping-cart" id="cart-icon"></i></a>
            
            {%- if shop.customer_accounts_enabled -%}
              <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
                <i class="fas fa-user"></i>
              </a>
            {%- endif -%}
            
          </ul>
        </div>









          {% comment %} <ul class="header1__collections-nav">
            {%- if section.settings.menu_two != blank -%}
              {%- for link in section.settings.menu_two.links -%}
                {%- if link.links == blank -%}
              <li class="header1__collection-link">
                <a href="{{ link.url }}">{{ link.title | escape }} <i class="fas fa-chevron-down"></i></a>
              </li>
                {%- else -%}

                  <li class="header1__collection-link">
                    <a href="{{ link.url }}">{{ link.title | escape }} <i class="fas fa-chevron-down"></i></a>
                    <ul class="collection-link__sub-links">
                      {%- for childlink in link.links -%}
                        <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                      {%- endfor -%}
                    </ul>
                  </li>
                {%- endif -%}
              {%- endfor -%}
            {% endif %}
            <a href="{{ routes.cart_url }}"><i class="fas fa-shopping-cart" id="cart-icon"></i></a>
            {%- if shop.customer_accounts_enabled -%}
              <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
                <i class="fas fa-user"></i>
              </a>
            {%- endif -%}
          </ul>
        </div> {% endcomment %}
















          {% comment %} <a href="{{ routes.cart_url }}"><i class="fas fa-shopping-cart" id="cart-icon-mobile"></i></a> {% endcomment %}

          
          {% comment %} <ul class="header1__collections-nav">
            {%- if section.settings.menu_two != blank -%}
              {%- for link in section.settings.menu_two.links -%}
                {%- if link.links == blank -%}
              <li class="header1__collection-link">
                <a href="{{ link.url }}">{{ link.title | escape }}</a>
              </li>
                {%- else -%}
                  <li class="header1__collection-link">
                    <a href="{{ link.url }}">{{ link.title | escape }} <i class="fas fa-chevron-down"></i></a>
                    <ul class="collection-link__sub-links">
                      {%- for childlink in link.links -%}
                        <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                      {%- endfor -%}
                    </ul>
                  </li>
                {%- endif -%}
              {%- endfor -%}
            {% endif %}
            <a href="{{ routes.cart_url }}"><i class="fas fa-shopping-cart" id="cart-icon"></i></a>
            
            {%- if shop.customer_accounts_enabled -%}
              <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
                <i class="fas fa-user"></i>
              </a>
            {%- endif -%}
            
          </ul> {% endcomment %}

          {% comment %} <a href="{{ routes.cart_url }}"><i class="fas fa-shopping-cart" id="cart-icon"></i></a> {% endcomment %}

          {% comment %} <div class="cart-ctn"> 
            <a href="{{ routes.cart_url }}"><i class="fas fa-shopping-cart" id="cart-icon"></i></a>
          </div> {% endcomment %}

          <nav class="mobile-nav">
            <ul class="header1__collections-nav-mobile">
              {%- if section.settings.menu != blank -%}
                {%- for link in section.settings.menu.links -%}
                  {%- if link.links == blank -%}
                <li class="header1__collection-link">
                  <hr>
                  <a href="{{ link.url }}">{{ link.title | escape }}</a>
                </li>
                  {%- else -%}  
                    <li class="header1__collection-link">
                      <hr>
                      <a href="{{ link.url }}">{{ link.title | escape }}</a>
                      <i class="fas fa-long-arrow-alt-right"></i>
                      <div class="collection-link__sub-links-mobile">
                        {%- for childlink in link.links -%}
                          <span><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></span>
                        {%- endfor -%}
                      </div>
                    </li>
                  {%- endif -%}
                {%- endfor -%}
              {% endif %}
            </ul>

            <ul class="header1__collections-nav-mobile">
              {%- if section.settings.menu_two != blank -%}
                {%- for link in section.settings.menu_two.links -%}
                  {%- if link.links == blank -%}
                <li class="header1__collection-link">
                  <hr>
                  <a href="{{ link.url }}">{{ link.title | escape }}</a>
                </li>
                  {%- else -%}
                    {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}
      
                    <li class="header1__collection-link">
                      <hr>
                      <a href="{{ link.url }}">{{ link.title | escape }}</a>
                      <i class="fas fa-long-arrow-alt-right"></i>
                      <div class="collection-link__sub-links-mobile">
                        {%- for childlink in link.links -%}
                          <span><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></span>
                        {%- endfor -%}
                      </div>
                    </li>
                  {%- endif -%}
                {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}
                {%- endfor -%}
              {% endif %}
              
              {%- if shop.customer_accounts_enabled -%}
                <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
                  <i class="fas fa-user"></i>
                </a>
              {%- endif -%}
              
            </ul>
          </nav>
        </div>
      </div>
    </header>

  {% when 'header2' %}
    {{ 'Header2.css' | asset_url | stylesheet_tag }}
    <header class="header header2">
      <i class="fas fa-bars" id="menu-icon"></i>
      <div class="header2__logo">
        <a href="{{ routes.root_url }}" style= "color: {{ section.settings.header_font_color }};">
          {%- if section.settings.logo != blank -%}
            {%- assign image_size = section.settings.logo_width | append: 'x' -%}
            <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              src="{{ section.settings.logo | img_url: image_size }}"
              loading="lazy"
              class="header__heading-logo"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            >
          {%- else -%}
            {{ shop.name }}
          {%- endif -%}
        </a>
      </div>

      <ul class="header2__collections-nav">
        {%- if section.settings.menu != blank -%}
          {%- for link in section.settings.menu.links -%}
            {%- if link.links == blank -%}
          <li class="header2__collection-link">
            <a href="{{ link.url }}" style= "color: {{ section.settings.header_font_color }};">{{ link.title | escape }}</a>
          </li>
            {%- else -%}
              {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}

              <li class="header2__collection-link">
                <a href="{{ link.url }}">{{ link.title | escape }} <i class="fas fa-chevron-down"></i></a>
                <ul class="collection-link__sub-links">
                  {%- for childlink in link.links -%}
                    <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                  {%- endfor -%}
                </ul>
              </li>
            {%- endif -%}
          {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}
          {%- endfor -%}
        {% endif %}
      </ul>

      <ul class="header2__collections-nav">
        {%- if section.settings.menu_two != blank -%}
          {%- for link in section.settings.menu_two.links -%}
            {%- if link.links == blank -%}
          <li class="header2__collection-link">
            <a href="{{ link.url }}" style= "color: {{ section.settings.header_font_color }};">{{ link.title | escape }}</a>
          </li>
            {%- else -%}
              {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}

              <li class="header2__collection-link">
                <a href="{{ link.url }}">{{ link.title | escape }} <i class="fas fa-chevron-down"></i></a>
                <ul class="collection-link__sub-links">
                  {%- for childlink in link.links -%}
                    <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                  {%- endfor -%}
                </ul>
              </li>
            {%- endif -%}
          {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}
          {%- endfor -%}
        {% endif %}
        
      </ul>
      
      <div id="cart-icon">
        <a href="{{ routes.cart_url }}"><i class="fas fa-shopping-cart" id="cart-icon"></i></a>
        {%- if shop.customer_accounts_enabled -%}
          <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
            <i class="fas fa-user"></i>
          </a>
        {%- endif -%}
      </div> 
      

      {% comment %} <div class="header2__collections-nav">
        <a href="{{ routes.cart_url }}" style= "color: {{ section.settings.header_font_color }};"><i class="fas fa-shopping-cart"></i></a>
        
        {%- if shop.customer_accounts_enabled -%}
          <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
            <i class="fas fa-user"></i>
          </a>
        {%- endif -%}
      </div> 
    <div>{% endcomment %}

    <nav class="mobile-nav">

      <ul class="header2__collections-nav-mobile">
        {%- if section.settings.menu != blank -%}
          {%- for link in section.settings.menu.links -%}
            {%- if link.links == blank -%}
          <li class="header2__collection-link">
            <hr>
            <a href="{{ link.url }}">{{ link.title | escape }}</a>
          </li>
            {%- else -%}
              <li class="header2__collection-link">
                <hr>
                <a href="{{ link.url }}">{{ link.title | escape }}</a>
                <i class="fas fa-long-arrow-alt-right"></i>
                <div class="collection-link__sub-links-mobile">
                  {%- for childlink in link.links -%}
                    <span><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></span>
                  {%- endfor -%}
                </div>
              </li>
            {%- endif -%}
          {%- endfor -%}
        {% endif %}
      </ul>

      <ul class="header2__collections-nav-mobile">
        {%- if section.settings.menu_two != blank -%}
          {%- for link in section.settings.menu_two.links -%}
            {%- if link.links == blank -%}
          <li class="header2__collection-link">
            <hr>
            <a href="{{ link.url }}">{{ link.title | escape }}</a>
          </li>
            {%- else -%}
              <li class="header2__collection-link">
                <hr>
                <a href="{{ link.url }}">{{ link.title | escape }}</a>
                <i class="fas fa-long-arrow-alt-right"></i>
                <div class="collection-link__sub-links-mobile">
                  {%- for childlink in link.links -%}
                    <span><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></span>
                  {%- endfor -%}
                </div>
              </li>
            {%- endif -%}
          {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}
          {%- endfor -%}
        {% endif %}
      </ul>
    </nav>
      

    </header>

  {% when 'header3' %}
    {{ 'Header3.css' | asset_url | stylesheet_tag }}
    <header class="header header3">
      <i class="fas fa-bars" id="menu-icon"></i>
      <div class="header3__logo">
        <a href="{{ routes.root_url }}" style= "color: {{ section.settings.header_font_color }};">
          {%- if section.settings.logo != blank -%}
            {%- assign image_size = section.settings.logo_width | append: 'x' -%}
            <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              src="{{ section.settings.logo | img_url: image_size }}"
              loading="lazy"
              class="header__heading-logo"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            >
          {%- else -%}
            {{ shop.name }}
          {%- endif -%}
        </a>
      </div>

      <ul class="header3__collections-nav">
        {%- if section.settings.menu != blank -%}
          {%- for link in section.settings.menu.links -%}
            {%- if link.links == blank -%}
          <li class="header3__collection-link">
            <a href="{{ link.url }}" style= "color: {{ section.settings.header_font_color }};">{{ link.title | escape }}</a>
          </li>
            {%- else -%}
              {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}

              <li class="header3__collection-link">
                <a href="{{ link.url }}">{{ link.title | escape }} <i class="fas fa-chevron-down"></i></a>
                <ul class="collection-link__sub-links">
                  {%- for childlink in link.links -%}
                    <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                  {%- endfor -%}
                </ul>
              </li>
            {%- endif -%}
          {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}
          {%- endfor -%}
        {% endif %}
      
        <ul class="header3__collections-nav">
          {%- if section.settings.menu_two != blank -%}
            {%- for link in section.settings.menu_two.links -%}
              {%- if link.links == blank -%}
            <li class="header3__collection-link">
              <a href="{{ link.url }}" style= "color: {{ section.settings.header_font_color }};">{{ link.title | escape }}</a>
            </li>
              {%- else -%}
                {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}

                <li class="header3__collection-link">
                  <a href="{{ link.url }}">{{ link.title | escape }} <i class="fas fa-chevron-down"></i></a>
                  <ul class="collection-link__sub-links">
                    {%- for childlink in link.links -%}
                      <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                    {%- endfor -%}
                  </ul>
                </li>
              {%- endif -%}
            {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}
            {%- endfor -%}
          {% endif %}
        </ul>
      </ul>

      <div id="cart-icon">
        <a href="{{ routes.cart_url }}"><i class="fas fa-shopping-cart" id="cart-icon"></i></a>
        {%- if shop.customer_accounts_enabled -%}
          <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
            <i class="fas fa-user"></i>
          </a>
        {%- endif -%}
      </div>   
        


      <nav class="mobile-nav">
        <ul class="header3__collections-nav-mobile">
          {%- if section.settings.menu != blank -%}
            {%- for link in section.settings.menu.links -%}
              {%- if link.links == blank -%}
            <li class="header3__collection-link">
              <hr>
              <a href="{{ link.url }}">{{ link.title | escape }}</a>
            </li>
              {%- else -%}  
                <li class="header3__collection-link">
                  <hr>
                  <a href="{{ link.url }}">{{ link.title | escape }}</a>
                  <i class="fas fa-long-arrow-alt-right"></i>
                  <div class="collection-link__sub-links-mobile">
                    {%- for childlink in link.links -%}
                      <span><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></span>
                    {%- endfor -%}
                  </div>
                </li>
              {%- endif -%}
            {%- endfor -%}
          {% endif %}
        </ul>

        <ul class="header3__collections-nav-mobile">
          {%- if section.settings.menu_two != blank -%}
            {%- for link in section.settings.menu_two.links -%}
              {%- if link.links == blank -%}
            <li class="header3__collection-link">
              <hr>
              <a href="{{ link.url }}">{{ link.title | escape }}</a>
            </li>
              {%- else -%}
                {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}
  
                <li class="header3__collection-link">
                  <hr>
                  <a href="{{ link.url }}">{{ link.title | escape }}</a>
                  <i class="fas fa-long-arrow-alt-right"></i>
                  <div class="collection-link__sub-links-mobile">
                    {%- for childlink in link.links -%}
                      <span><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></span>
                    {%- endfor -%}
                  </div>
                </li>
              {%- endif -%}
            {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}
            {%- endfor -%}
          {% endif %}
          
        </ul>
      </nav>  
        
        
    </header>


    {% when 'header4' %}
      {{ 'Header4.css' | asset_url | stylesheet_tag }}
      <header class="header header4">
        <i class="fas fa-bars" id="menu-icon"></i>
        <div class="header4__logo">
          <a href="{{ routes.root_url }}" style= "color: {{ section.settings.header_font_color }};">
            {%- if section.settings.logo != blank -%}
              {%- assign image_size = section.settings.logo_width | append: 'x' -%}
              <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                src="{{ section.settings.logo | img_url: image_size }}"
                loading="lazy"
                class="header__heading-logo"
                width="{{ section.settings.logo.width }}"
                height="{{ section.settings.logo.height }}"
                alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
              >
            {%- else -%}
              {{ shop.name }}
            {%- endif -%}
          </a>
        </div>
  
        <ul class="header4__collections-nav">
          {%- if section.settings.menu != blank -%}
            {%- for link in section.settings.menu.links -%}
              {%- if link.links == blank -%}
            <li class="header4__collection-link">
              <a href="{{ link.url }}" style= "color: {{ section.settings.header_font_color }};">{{ link.title | escape }}</a>
            </li>
              {%- else -%}
                {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}
  
                <li class="header4__collection-link">
                  <a href="{{ link.url }}">{{ link.title | escape }} <i class="fas fa-chevron-down"></i></a>
                  <ul class="collection-link__sub-links">
                    {%- for childlink in link.links -%}
                      <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                    {%- endfor -%}
                  </ul>
                </li>
              {%- endif -%}
            {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}
            {%- endfor -%}
          {% endif %}
        
          <ul class="header4__collections-nav">
            {%- if section.settings.menu_two != blank -%}
              {%- for link in section.settings.menu_two.links -%}
                {%- if link.links == blank -%}
              <li class="header4__collection-link">
                <a href="{{ link.url }}" style= "color: {{ section.settings.header_font_color }};">{{ link.title | escape }}</a>
              </li>
                {%- else -%}
                  {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}
  
                  <li class="header4__collection-link">
                    <a href="{{ link.url }}">{{ link.title | escape }} <i class="fas fa-chevron-down"></i></a>
                    <ul class="collection-link__sub-links">
                      {%- for childlink in link.links -%}
                        <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                      {%- endfor -%}
                    </ul>
                  </li>
                {%- endif -%}
              {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}
              {%- endfor -%}
            {% endif %}
          </ul>
        </ul>
  
        <div id="cart-icon">
          <a href="{{ routes.cart_url }}"><i class="fas fa-shopping-cart" id="cart-icon"></i></a>
          {%- if shop.customer_accounts_enabled -%}
            <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
              <i class="fas fa-user"></i>
            </a>
          {%- endif -%}
        </div>   
          
  
  
        <nav class="mobile-nav">
          <ul class="header4__collections-nav-mobile">
            {%- if section.settings.menu != blank -%}
              {%- for link in section.settings.menu.links -%}
                {%- if link.links == blank -%}
              <li class="header4__collection-link">
                <hr>
                <a href="{{ link.url }}">{{ link.title | escape }}</a>
              </li>
                {%- else -%}  
                  <li class="header4__collection-link">
                    <hr>
                    <a href="{{ link.url }}">{{ link.title | escape }}</a>
                    <i class="fas fa-long-arrow-alt-right"></i>
                    <div class="collection-link__sub-links-mobile">
                      {%- for childlink in link.links -%}
                        <span><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></span>
                      {%- endfor -%}
                    </div>
                  </li>
                {%- endif -%}
              {%- endfor -%}
            {% endif %}
          </ul>
  
          <ul class="header4__collections-nav-mobile">
            {%- if section.settings.menu_two != blank -%}
              {%- for link in section.settings.menu_two.links -%}
                {%- if link.links == blank -%}
              <li class="header4__collection-link">
                <hr>
                <a href="{{ link.url }}">{{ link.title | escape }}</a>
              </li>
                {%- else -%}
                  {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}
    
                  <li class="header4__collection-link">
                    <hr>
                    <a href="{{ link.url }}">{{ link.title | escape }}</a>
                    <i class="fas fa-long-arrow-alt-right"></i>
                    <div class="collection-link__sub-links-mobile">
                      {%- for childlink in link.links -%}
                        <span><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></span>
                      {%- endfor -%}
                    </div>
                  </li>
                {%- endif -%}
              {% comment %} <li class="header1__collection-link"><a href="/link">Link</a></li> {% endcomment %}
              {%- endfor -%}
            {% endif %}
            
          </ul>
        </nav>  
          
          
      </header>

{% endcase %}

<script> 
  const headerWrapper = document.getElementById('shopify-section-header'); 
  const headerWrapper1 = document.querySelector('.header');
  const bodyTag = document.getElementsByTagName('body')[0]; 

  const bar = document.getElementById('shopify-section-announcement-bar'); 

  if(bodyTag.classList.contains('fixed-nav') && bodyTag.classList.contains('transparent-nav')) {
    headerWrapper.style.position = 'fixed'
    headerWrapper.style.top = 0
    headerWrapper.style.left = 0
    headerWrapper.style.width = '100%'
    headerWrapper.style.zIndex = '7' 

    const onScroll = () => {
      const scrollLocation = document.documentElement.scrollTop; 

      if(scrollLocation > 50 ){
        bodyTag.classList.remove('transparent-nav')
        headerWrapper1.classList.add('header1--color')
      } else {
        bodyTag.classList.add('transparent-nav')
      }
    }

    window.addEventListener('scroll', onScroll)

  } else if (bodyTag.classList.contains('fixed-nav')){
    headerWrapper1.classList.add('header1--color')
    headerWrapper.style.position = 'fixed'
    headerWrapper.style.top = 0
    headerWrapper.style.left = 0
    headerWrapper.style.width = '100%'
    headerWrapper.style.zIndex = '7'
  } else if  (bodyTag.classList.contains('transparent-nav')){
    headerWrapper1.classList.remove('header1--color')
    headerWrapper.style.width = '100%'
    headerWrapper.style.zIndex = '7'
  } else {
    headerWrapper1.classList.add('header1--color')
    headerWrapper.style.top = 0
    headerWrapper.style.left = 0
    headerWrapper.style.width = '100%'
    headerWrapper.style.zIndex = '7'
  }

  const toggle = document.querySelector('#menu-icon'); 
  const mobileMenu = document.querySelector('nav'); 
  const mobileMenuActive = document.querySelector('.active'); 
  console.log(mobileMenuActive)
  console.log(mobileMenu); 
  toggle.addEventListener('click', () => {
    if(mobileMenu.classList.contains('active')){
      mobileMenu.classList.remove('active')
      bodyTag.style.position = 'static'
      {% comment %} mobileMenu.style.display = 'none'; {% endcomment %}
    } else {
      if(bodyTag.classList.contains('transparent-nav')){
        bodyTag.classList.remove('transparent-nav')
        headerWrapper1.classList.add('header1--color')
      }
      mobileMenu.classList.add('active'); 
      {% comment %} mobileMenu.style.display = 'block';  {% endcomment %}
      bodyTag.style.position = 'fixed'
    }
  })

  


 
</script>


{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "header_type",
      "label": "Type Of Header",
      "options": [
        {
          "value": "header1",
          "label": "Header 1"
        },
        {
          "value": "header2",
          "label": "Header 2"
        },
        {
          "value": "header3",
          "label": "Header 3"
        }, 
        {
          "value": "header4",
          "label": "Header 4"
        }
      ],
      "default": "header1"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.header.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.header.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.header.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.header.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.header.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.header.settings.color_scheme.label"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background", 
      "default": "#535353"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "link_list",
      "id": "menu_two",
      "default": "main-menu",
      "label": "Alternate Menu"
    },
  
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    }
  ]
}
{% endschema %}


